@import "../fonts/style.css";

:root {
  --color-white:      #FFFFFF;

  --color-blue100:    #4870FF;

  --header-height:    60px;

  --container-width:  1040px;
  --container-indent: calc(50% - var(--container-width) / 2);

  --border-rd-md:     8px;
  --border-rd-lg:     12px;
}

@media (max-width: 1240px) {
  :root {
    --container-indent: 24px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'ProximaNova';
  font-size: 16px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: color .2s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  background-color: #020c2d;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

svg {
  transition: fill .2s, transform .2s;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  display: block;
}

input {
  border: none;
  outline: none;
}

textarea {
  height: 52px !important;
  font-size: inherit;
  border: none;
  resize: none;
  background: none;
}

i {
  font-style: normal;
}

.container {
  padding-right: var(--container-indent);
  padding-left: var(--container-indent);
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.label {
  padding: 12px 14px;
  background: var(--color-white);
  border-radius: var(--border-rd-lg);
}

.button {
  padding: 0 24px;
  color: var(--color-white);
  border-radius: var(--border-rd-md);
}

.button-gradient {
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px rgba(138, 97, 255, 0.6);
}

.button_white {
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid var(--color-white);
  filter: drop-shadow(0px 4px 16px rgba(138, 97, 255, 0.6));
}

.button_blue {
  background: var(--color-blue100);
  border-radius: var(--border-rd-md);
}

.headline {
  margin-bottom: 2px;
  text-transform: capitalize;
  line-height: 44px;
  font-size: 36px;
  color: var(--color-white);
  font-weight: 700;
}

.header {
  position: absolute;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background: rgba(1, 1, 31, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.header__nav {
  grid-column-gap: 64px;
}

.header__logo {
  width: 48px;
  height: 48px;
}

.header__user {
  grid-column-gap: 32px;
}

.header__button {
  line-height: 22px;
  font-size: 18px;
  color: var(--color-white);
  font-weight: 700;
}

.header__login {
  height: 40px;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 36px;
}

.menu__link {
  line-height: 19px;
  color: var(--color-white);
  font-weight: 700;
  transition: all 0.2s;
}

.menu__link:hover,
.menu__link:focus {
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu__link_active {
  position: relative;
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu__link_active:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -26px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px rgba(138, 97, 255, 0.6);
  border-radius: 4px 4px 0px 0px;
}